body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
  padding: 0;
  color: #222;
}

header {
  background: #2b2b2b;
  color: white;
  text-align: center;
  padding: 20px;
}

.logo {
  width: 80px;
}

section {
  padding: 20px;
  background: white;
  margin: 20px;
  border-radius: 10px;
}

.qr {
  width: 220px;
  display: block;
  margin: 10px auto;
}

.btn {
  display: inline-block;
  background: #000;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 6px;
}
